html, body {
    padding: 0;
    margin: 0;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('https://orig00.deviantart.net/1039/f/2010/304/f/a/cartoon_castle_scene_by_rasulh-d31vi8o.jpg');
    background-size: cover;
}
#result {
    margin: 0;
}
#answer {
    margin-top: 5px;
    text-align: center;
}
#hang {
    border: solid transparent 1px;
    background-color: rgba(255, 255, 255, 0.8)

}
ul {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
}
.letter {
    padding: 5px;
    font-size: 30px;
}
#letters{
    display: flex;
    flex-wrap: wrap;
}
.letter-btn {
    margin: 2px;
    width: 9%;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.8)

}
.letter-btn:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
}
.selected {
    background-color: rgba(255, 255, 255, 0);
}

.js-hide-display {
    display: none;
}

.btn {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.8);
    width: 60px;
    outline: none;
}
.btn:hover {
    background-color: rgba(255, 255, 255, 0)
}